.jumbotron{
	background-color: black;
	color: white;
	margin-top: 50px;
}

footer{
	padding: 10px 10px 0 10px;
	background-color: black;
	color: white;
	margin-botton: 0px;
	margin-top: 10px;
}
.card-hotel{
	flex: 1 200px;
	margin-top: 10px;
}
.btn-reserva{
	width: 100%;
	border-radius: 0px;
}

.footer-address-icon{
	padding-right: 10px;
}
form{
	padding: 10px 10px 0 40px;
	margin-botton: 10px;
	margin-top: 10px;
}
.adjust-hotel{
	padding: 10px 10px 0 10px;
	margin-botton: 0px;
	margin-top: 10px;
}
.adjust-label{
	padding: 10px 10px 0 50px;
}